.tss-TableWrapper {
  overflow-x: auto;
}

.tss-Table {
  margin-bottom: 0 !important;

  thead {
    th {
      cursor: pointer;
    }
  }

  tbody {
    overflow-y: scroll;

    td {
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
  }
}

.table-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.tss-TableHeader {
}

.tss-TableItem {
  td {
    min-width: 100px;
  }

  .sql-text {
    min-width: 450px;
  }

  .datetime {
    min-width: 200px;
  }
}
